extends layouts/frontend

block content 
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column

            .ui.positive.message 
                |   Connexion réuissie ! Heureux de vous revoir #{user.firstname}

            h1 Dashboard 

            
            p Bienvenue sur votre Dashboard personnel #{user.firstname} #{user.lastname}
